.phone
    h2
        font-size: 1.8rem
        text-transform: uppercase
    a
        display: block
        color: $base-color
        font-size: 1.5rem
        text-decoration: none
        &:hover
            cursor: pointer
    span
        font-size: 1.2rem
    img
        margin: 12px 0 0
        width: 100%