header
    display: grid
    grid-column: 1/4
    border-top: 2px solid $base-color
    border-bottom: 2px solid $base-color
    margin: 0 0 25px
    .title
        display: grid
        grid-auto-flow: column
        grid-auto-columns: .5fr 4fr .5fr
        border-bottom: 2px solid $base-color
        padding: 10px
        h1
            font-family: 'dk_courantregular'
            letter-spacing: 10px
            font-size: 4rem
            line-height: 100px
        .left-block, .right-block
            font-family: 'averia_serifbold'
            place-self: center
            font-size: .8rem

    .sub-title
        display: grid
        grid-auto-flow: column
        grid-auto-columns: 1.5fr 4fr 1.5fr
        padding: 10px 0
        .vol, h3, .price
            text-transform: uppercase
            font-size: .8rem
        .vol
            align-self: center
            justify-self: start
        .price
            align-self: center
            justify-self: end