.editorial-news
    h2
        font-size: 65px
        text-transform: uppercase
    img
        width: 60%
        float: left
        margin: 0 7px 0 0
    h3
        font-size: 30px
        text-transform: uppercase
